.single_page{
  background-color: #F8F8F8;
  padding-top: 16px;;
}
.product_img_box {
    position: relative;
  }
  .pib_others .new {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #ffffff;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    border-radius: 5px;
    background-color: #222222;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    top: 9px;
    left: 60px;
    z-index:999;
  }
  .pib_others .wishlist {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebedf3;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 10px;
    z-index:999;
  } 
  .my_swipper .small_images {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 200px; /* Adjust this value */
    max-height: 100px;
  }
  .my_swipper .small_img img {
    width: 100%; /* or set a specific width */
    height: auto; /* Ensures the aspect ratio is preserved */
    max-height: 300px; /* Adjust based on your design */
    object-fit: cover; /* Ensures the image covers the space if necessary */
  }
  .product_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #000000;
    padding-bottom: 20px;
  }
  .product_price {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #000000;
    padding-bottom: 15px;
  }
  .product_other_info {
    padding: 0 0 15px 0;
    margin: 0;
  }
  .product_other_info li {
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    color: #000000;
    list-style-position: inside;
  }
  .shipping_btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 21px;
    border-bottom: 1px solid #dee2e6;
  }
  .stock {
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .stock span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1aba1a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  .stock span::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 9px;
    border-right: 2.5px solid;
    border-bottom: 2.5px solid;
    transform: rotate(37deg);
    border-color: #ffffff;
  }
  .quantity_box span {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #000000;
    padding-bottom: 10px;
  }
  .quantity_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .count {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    border: 1px solid #99999933;
    border-radius: 10px;
    width: 130px;
    justify-content: center;
  }
  .count button {
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-weight: 500;
  }
  .count input {
    border: none;
    outline: none;
    width: 50px;
    text-align: center;
    font-weight: 500;
  }
  .count input:focus {
    border: none;
    outline: none;
  }
  .count input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  .quantity_wrapper .wish_list {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edeff6;
  }
  .addTo_cart_btn {
    padding: 16px 58px;
  }
  .secoure {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    padding-bottom: 12px;
  }
  .brand_img {
    padding-bottom: 21px;
    border-bottom: 1px solid #dee2e6;
  }
  .category {
    padding: 20px 0 20px 0;
    margin: 0;
  }
  .category li {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #666666;
    list-style: none;
  }
  .category li span {
    font-size: 14px;
    font-weight: 700;
    line-height: 23.8px;
    color: #000000;
  }
  .social_icons {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-bottom: 30px;
  }
  .social_icons .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #e2e4eb;
  }
  .brand_section {
    padding: 30px;
    border-radius: 10px;
    background-color: #edeff6;
    margin-bottom: 10px;
  }
  .brand_section .brand_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #666666;
    padding-bottom: 30px;
  }
  .brand_section .brand_title span {
    font-weight: 700;
    color: #000000;
  }
  .brand_section .brand_logo {
    display: flex;
    justify-content: center;
  }
  .self_cart_box {
    padding: 21px;
    border-radius: 10px;
    border: 1px solid #1aba1a;
    margin-bottom: 14px;
  }
  .self_cart_box .scb_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    padding-bottom: 20px;
  }
  .scb_product {
    display: flex;
    gap: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dee2e6;
  }
  .scb_product_img img {
    width: 70px;
  }
  .scb_product_name .name {
    font-size: 13px;
    font-weight: 700;
    line-height: 18.2px;
    color: #000000;
  }
  .scb_product .close_btn {
    cursor: pointer;
    color: #000000;
    width: 25px;
  }
  .scb_product_price {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
  }
  .self_cart_box .sub_total {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #666666;
    display: flex;
    padding-top: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between;
  }
  .self_cart_box .sub_total span {
    font-weight: 700;
    color: #000000;
  }
  .scb_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .checkout_btn {
    padding: 16px 25px;
  }
  .delivery {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .delivery span {
    color: #666666;
  }
  .delivery .states {
    color: #000000;
    font-weight: 500;
  }
  
  .product_all_details {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
  }
  .product_all_details a {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #666666;
  }
  .product_all_details a:active {
    color: #000000;
    font-weight: 700;
  }
  .description_box {
    padding: 20px 30px 30px 30px;
  }
  .db_first_detail {
    padding-bottom: 30px;
  }
  .db_first_detail .product_first_about {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: #000000;
    padding-bottom: 30px;
  }
  .db_first_detail .product_first_about span {
    font-weight: 700;
  }
  .description_img1 img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
  }
  .db_first_detail cite {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.1px;
    color: #777777;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }
  .db_second_detail {
    padding-bottom: 30px;
  }
  .db_second_detail .db_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #000000;
    padding-bottom: 10px;
  }
  .db_second_detail .product_first_about {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #555555;
    padding-bottom: 30px;
  }
  .db_second_detail_imaes {
    display: flex;
    gap: 8px;
  }
  .description_img3 img,
  .description_img4 img {
    width: 646px;
    height: 450px;
    border-radius: 12px;
  }
  .db_first_detail .product_third_about {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: #000000;
  }
  .show_more_btn {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #0d6efd;
    text-transform: uppercase;
  }
  .mt_30{
    background-color: #fff;
    margin-top:30px;
  }
  
.shipping{
  border: 1px solid #DEE2E6;
  font-family: Inter;
font-size: 10px;
font-weight: 500;
line-height: 15px;
text-align: left;
color:#999999;
padding:4px 11px;
border-radius: 8px;
}
.free_shipping{
  border: 1px solid #DEE2E6;
  font-family: Inter;
font-size: 10px;
font-weight: 500;
line-height: 15px;
text-align: left;
color:#1ABA1A;
padding:6px 14px;
border-radius: 8px;
} 
.gift{
  border: 1px solid #DEE2E6;
  font-family: Inter;
font-size: 10px;
font-weight: 500;
line-height: 15px;  
text-align: left;
color:#F1352B;
padding:4px 11px;
border-radius: 8px;
}

.pi_rating{
  display:flex;
  margin-bottom:10px;
}
.pir_stars{
  display:flex;
  align-items: center;
  gap:1px;
  margin-right:5px;
} 
.unfilledStar svg{
  font-family: Font Awesome 5 Pro;
font-size: 12px;
font-weight: 900;
line-height: 12px;
text-align: left;
  color:#999999;
} 
.filledStar svg{
  font-family: Font Awesome 5 Pro;
font-size: 12px;
font-weight: 900;
line-height: 12px;
text-align: left;
  color:#FFA500;
} 
.pir_count{
  font-family: Inter;
font-size: 11px;
font-weight: 400;
line-height: 16.5px;
text-align: left;
color:#666666;
display: flex;
align-items: end;
}