.order_summary_box {
  padding: 31px;
  border-radius: 10px;
  border: 1px solid #1aba1a;
  width:100%;
}
.os_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.os_price {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666666;
  padding-top: 15px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}
.os_price span {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}
.os_total_price {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 31px;
}
.os_btn {
  text-align: center;
}
